.hide{
    display: none;
}
.start-button{
    padding: 0.6em 2em;
    width:fit-content;
    background-color: rgb(7, 7, 61);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
.stop-button{
    position: relative;
    left: 40%;
    top: 1em;
    padding: 0.6em 2em;
    width:fit-content;
    background-color: rgb(7, 7, 61);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
}
.box{
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 60, 60);
}
.min-box{
    height: 80%;
    padding: 2em 0;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}