.container{
    position: relative;
    border: 2px solid white;
    flex-basis: 24%;
    margin-bottom: 1em;
    height: 70px;
    border-radius: 10px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.front-side, .back-side{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s ease-out;
    backface-visibility: hidden;
    border-radius: 10px;
}
.back-side{
    background-color:transparent;
    font-size: 40px;
    color: rgb(6, 6, 63);
}
.front-side{
    background-color:aliceblue;
    font-weight: 600;
    font-size: 20px;
}
.flipped{
    transform: rotateY(180deg);
    background-color: white;
    color: black;
}
.outer-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
h1{
    position: relative;
    left: 10%;
    Color: rgb(2, 66, 2);
    margin-bottom: 1em;
    margin-top: 1em;
}
.hide{
    display: none;
}


